In [13]:
# Import necessary libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, cross_val_score, RepeatedKFold
from sklearn.linear_model import Ridge, RidgeCV
from sklearn.metrics import mean_squared_error, r2_score

In [3]:
df = pd.read_csv('housing.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.23,37.88,41,880,129.0,322,126,8.3252,452600
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,358500
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,352100
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,341300
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,342200

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  int64
 3   total_rooms         20640 non-null  int64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  int64
 6   households          20640 non-null  int64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  int64
dtypes: float64(4), int64(5)
memory usage: 1.4 MB

In [11]:
print(df.columns)

# Then use the correct column name (assuming 'medv' is the correct name, lowercase)
x = df.drop(['medv'], axis=1)  # Using lowercase 'medv' instead of 'MEDV'
y = df['medv']

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

KeyError: "['medv'] not found in axis"

In [15]:

import numpy as np
from sklearn.model_selection import train_test_split


x = np.random.rand(100, 4)  # Replace with your actual feature data
y = np.random.randint(0, 2, 100)  # Replace with your actual target data

# Now use train_test_split with defined variables
# Also, random_state should be an integer, not a float
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

In [16]:
Ridge_model = Ridge(alpha=1).fit(x_train, y_train)
Ridge_model.intercept_

0.3510758478752073

In [22]:

# Assuming X and y are your features and target variables
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train your model
# model = LinearRegression()
# model.fit(X_train, y_train)

# Generate predictions
y_pred = Ridge_model.predict(x_test)  # This line defines y_pred
np.sqrt(mean_squared_error(y_test, y_pred))
Ridge_model.coef_
# Now you can calculate the R2 score
r2_score(y_test, y_pred)

0.011982253025903167

In [24]:
# Get the coefficients (weights) of the fitted Ridge regression model
Ridge_model.coef_

array([ 0.13979568,  0.43128581, -0.18690286,  0.0269873 ])

In [27]:
Ridge_cv_model = RidgeCV(alphas= np.random.randint(0, 1000, 100), cv=10).fit(x_train, y_train)

# Get the best alpha (regularization strength) selected by cross-validation
Ridge_cv_model.alpha_

12

In [30]:
Ridge_tuned = Ridge(alpha=Ridge_cv_model.alpha_, max_iter=10000).fit(x_train, y_train)

In [31]:
# Training data
pred_train_tuned = Ridge_tuned.predict(x_train)
mse_train = mean_squared_error(y_train, pred_train_tuned)
print('MSE training set', round(mse_train, 2))
print('R squared training set', round(r2_score(y_train, pred_train_tuned)*100,2))
print("---------------------------")

# Test data
pred_test_tuned = Ridge_tuned.predict(x_test)
mse_test =mean_squared_error(y_test, pred_test_tuned)
print('MSE test set', round(mse_test, 2))
print('R squared test set', round(r2_score(y_test, pred_test_tuned)*100,2))

MSE training set 0.23
R squared training set 6.34
---------------------------
MSE test set 0.25
R squared test set 1.39

In [35]:
from sklearn.model_selection import GridSearchCV
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)

# define grid
grid = dict()
grid['alpha'] = np.arange(0, 1, 0.1)
model = Ridge()
search = GridSearchCV(model, grid, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1)

results = search.fit(x_train, y_train)
print('MAE: %.3f' % results.best_score_)
print('Config: %s' % results.best_params_)

MAE: -3.500
Config: {'alpha': 0.7000000000000001}

Ridge_model = Ridge(alpha = 0.7).fit(x_train, y_train)
y_pred = Ridge_model.predict(x_test)
np.sqrt(mean_squared_error(y_test, y_pred))

4.731437210393685

r2_score(y_test, y_pred)

0.480316847044105

pd.Series(Ridge_model.coef_, index = x_train.columns)

MAE: -0.471
Config: {'alpha': 0.0}

AttributeError: 'numpy.ndarray' object has no attribute 'columns'